.like-btn {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-out;

  i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 1.3rem + 2vw, 2.5rem);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 3rem;

    &:hover {
      background: linear-gradient(#9356dc, #ff79da);
      color: #fff;
      font-weight: 600;
      transform: scale(1.2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

main.menu-container {
  div.submenu-carte {
    section.plat:hover {
      section.confirmation {
        margin-right: -1rem;
        div.icon-wrapper {
          transform: rotate(0deg);
        }
      }
    }
  }
}

section.submenu > section.plat:nth-child(2) {
  animation: apparition 0.8s;
  animation-delay: 0.2s;
}

section.submenu > section.plat:nth-child(3) {
  animation: apparition 0.8s;
  animation-delay: 0.4s;
}

section.submenu > section.plat:nth-child(4) {
  animation: apparition 0.8s;
  animation-delay: 0.6s;
}

section.submenu > section.plat:nth-child(5) {
  animation: apparition 0.8s;
  animation-delay: 0.8s;
}

header section.hero a.hero-btn:hover,
main.menu-container div.cta-wrapper button.cta:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// Preloader

body > div.preloader {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
  opacity: 100%;
  inset: 0;
  animation: preloader 0.4s forwards;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

$component-dimension: 180px;
$timing: 1.5s;
$color-shadow: lightgray;
$pan-color-light: #ff79da;
$pan-color-dark: #9356dc;
$loader-color: #ff79da;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  // border: 1px solid red;
  margin: 100px auto;
  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }
  .pan-container {
    display: flex;
    width: 100%;
    animation: pan $timing infinite;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    // box-shadow: 5px 0 8px 4px $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}

span.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff79da;
  font-size: $text-2xl;
  margin-bottom: 1rem;
  animation: opacity 0.5s 0ms linear alternate infinite both;
  animation-name: pulse;
  font-weight: $text-bold;
  letter-spacing: 1px;
  margin-left: -1rem;
}

@keyframes preloader {
  100% {
    opacity: 0%;
    z-index: -10;
    visibility: hidden;
  }
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
