/* CSS Reset start */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  /* Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Raleway, Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */
.blink {
  border: 4px #ff0000 solid;
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}

@-webkit-keyframes blink {
  50% {
    border-color: #fff;
  }
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}
/* CSS Reset end */
.like-btn {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-out;
}
.like-btn i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.3rem + 2vw, 2.5rem);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 3rem;
}
.like-btn i:hover {
  background: linear-gradient(#9356dc, #ff79da);
  color: #fff;
  font-weight: 600;
  transform: scale(1.2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.menu-container div.submenu-carte section.plat:hover section.confirmation {
  margin-right: -1rem;
}
main.menu-container div.submenu-carte section.plat:hover section.confirmation div.icon-wrapper {
  transform: rotate(0deg);
}

section.submenu > section.plat:nth-child(2) {
  -webkit-animation: apparition 0.8s;
          animation: apparition 0.8s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

section.submenu > section.plat:nth-child(3) {
  -webkit-animation: apparition 0.8s;
          animation: apparition 0.8s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

section.submenu > section.plat:nth-child(4) {
  -webkit-animation: apparition 0.8s;
          animation: apparition 0.8s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

section.submenu > section.plat:nth-child(5) {
  -webkit-animation: apparition 0.8s;
          animation: apparition 0.8s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

header section.hero a.hero-btn:hover,
main.menu-container div.cta-wrapper button.cta:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body > div.preloader {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
  opacity: 100%;
  inset: 0;
  -webkit-animation: preloader 0.4s forwards;
          animation: preloader 0.4s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
.pan-loader {
  width: 180px;
  height: 180px;
  margin: 100px auto;
}
.pan-loader .loader {
  position: relative;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  -webkit-animation: loader 1.5s infinite;
          animation: loader 1.5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  -webkit-animation: pan 1.5s infinite;
          animation: pan 1.5s infinite;
}
.pan-loader .pan {
  width: 60%;
  height: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#ff79da, #9356dc);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  border-radius: 20px;
  -webkit-animation: shadow 1.5s infinite;
          animation: shadow 1.5s infinite;
}

span.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff79da;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  -webkit-animation: opacity 0.5s 0ms linear alternate infinite both;
          animation: opacity 0.5s 0ms linear alternate infinite both;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: -1rem;
}

@-webkit-keyframes preloader {
  100% {
    opacity: 0%;
    z-index: -10;
    visibility: hidden;
  }
}

@keyframes preloader {
  100% {
    opacity: 0%;
    z-index: -10;
    visibility: hidden;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes pulse {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
body {
  color: #111827;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
body h3 {
  font-size: 21px;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: 0.8px;
}

header .logo-wrapper {
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
header a {
  text-decoration: none;
}
header h1 {
  font-family: Shrikhand, sans-serif;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 0 5px;
}
header section.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  padding: 1rem 1.5rem;
  font-weight: 600;
}
header section.location i {
  margin-right: 0.6rem;
}
header section.hero {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #fafafa;
}
header section.hero h2 {
  font-size: clamp(1.4rem, 3vw, 2.1rem);
  line-height: calc(1.2rem + 1.4vw);
  margin-bottom: 1rem;
}
header section.hero p {
  font-weight: 100;
  font-size: calc(0.8rem + 0.5vw);
  margin-bottom: 1.2rem;
}
header section.hero a.hero-btn {
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.2rem);
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

section.fonctionnement {
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
section.fonctionnement ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  counter-reset: compteListe;
}
@media screen and (min-width: 1280px) {
  section.fonctionnement ol {
    flex-direction: row;
    justify-content: space-between;
  }
  section.fonctionnement ol li {
    width: 30%;
  }
}
section.fonctionnement li {
  padding: 1.5rem;
  margin: 0.5rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
  width: 100%;
}
section.fonctionnement li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 9999px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0%;
  top: 50%;
}
section.fonctionnement li div.overflow-hidden {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section.fonctionnement li i {
  color: #6b7280;
  margin-right: 1rem;
}
section.fonctionnement li span {
  font-size: 1rem;
}

section.restaurant {
  background-color: #f6f6f6;
  padding: 2rem;
  margin: auto;
}
section.restaurant div.card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  section.restaurant div.card-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
section.restaurant h3 {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
}
section.restaurant div.card {
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  position: relative;
}
section.restaurant div.card.nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;
  right: 15px;
  top: 15px;
  font-size: clamp(0.75rem, 0.875rem + 0.2vw, 1.125rem);
  -webkit-animation: opacity 1s 0ms linear alternate infinite both;
          animation: opacity 1s 0ms linear alternate infinite both;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}
section.restaurant div.card img {
  height: 70%;
  max-height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.restaurant div.card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #111827;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.restaurant div.card h4 {
  font-size: 1.125rem;
}
section.restaurant div.card p {
  font-size: 1rem;
}
section.restaurant div.card div.bottom-card {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  max-height: 30%;
}
section.restaurant div.card div.bottom-card .text-container {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  width: 100%;
  margin: 0 auto;
  background: #353535;
  font-size: 1rem;
  color: white;
  padding: 2rem;
}
footer span.logo {
  font-family: Shrikhand, sans-serif;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}
footer a.footer-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
footer i {
  margin-right: 10px;
}
footer .footer-wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .header-wrapper h1 {
  color: #1f2937;
  -webkit-text-fill-color: #1f2937;
}
header .header-wrapper a.logo {
  flex: 1 1 100%;
  text-align: center;
}
header .header-wrapper a.back-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translate(-50%, -50%);
  color: #111827;
}
header .header-wrapper a.back-arrow:active {
  color: #111827;
}
header .header-wrapper a.back-arrow i {
  font-size: 1.5rem;
}
header img.hero-img {
  max-height: 32rem;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.menu-container {
  background-color: #f9fafb;
  z-index: 1;
  border-radius: 2rem 2rem 0 0;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: -4rem;
  position: relative;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
main.menu-container div.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
}
main.menu-container div.menu-header i {
  font-size: 1.875rem;
}
main.menu-container div.menu-header h2 {
  font-family: Shrikhand, "cursive";
}
main.menu-container div.submenu-carte {
  max-width: 100%;
  padding: 0 2rem;
}
@media screen and (min-width: 1024px) {
  main.menu-container div.submenu-carte {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
main.menu-container div.submenu-carte h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
main.menu-container div.submenu-carte h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main.menu-container div.submenu-carte section.plat {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  transform: scale(0);
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
main.menu-container div.submenu-carte section.plat section.confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  height: 5rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
main.menu-container div.submenu-carte section.plat section.confirmation div.icon-wrapper {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.4s;
  transition-delay: 0.1s;
}
main.menu-container div.submenu-carte section.plat section.confirmation div.icon-wrapper i {
  color: #99e2d0;
}
main.menu-container div.submenu-carte section.plat div.plat-wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main.menu-container div.submenu-carte section.plat span.plat-price {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main.menu-container div.submenu-carte section.plat h4 {
  font-weight: 700;
}
main.menu-container div.submenu-carte section.plat h4,
main.menu-container div.submenu-carte section.plat p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main.menu-container div.cta-wrapper {
  margin: 1.8rem 0 0 0;
  padding: 0 2rem 3rem 2rem;
  display: flex;
  justify-content: center;
}
main.menu-container div.cta-wrapper button.cta {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 9999px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */