/* CSS Reset start */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  /* Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Raleway, Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */
.blink {
  border: 4px #ff0000 solid;
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}

@-webkit-keyframes blink {
  50% {
    border-color: #fff;
  }
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}
/* CSS Reset end */
body {
  color: #111827;
}

header .logo-wrapper {
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
header a {
  text-decoration: none;
}
header h1 {
  font-family: Shrikhand, sans-serif;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
header section.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  padding: 1rem 1.5rem;
  font-weight: 600;
}
header section.location i {
  margin-right: 0.6rem;
}
header section.hero {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #fafafa;
}
header section.hero h2 {
  font-size: clamp(1.4rem, 3vw, 2.1rem);
  line-height: calc(1.2rem + 1.4vw);
  margin-bottom: 1rem;
}
header section.hero p {
  font-weight: 100;
  font-size: calc(0.8rem + 0.5vw);
  margin-bottom: 1.2rem;
}
header section.hero a.hero-btn {
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: clamp(0.2rem, 0.5rem + 1vw, 1.2rem);
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
header section.hero a.hero-btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  min-height: 230px;
  margin: 0 auto;
  background: red;
  font-size: 1rem;
}
footer .footer-wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.main-wrapper {
  height: calc(100vh - 230px);
}/*# sourceMappingURL=styles.css.map */